.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto 32px;
  @media (--phone) {
    > div {
      flex-basis: 100%;
    }
  }
}

.imageWrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.content {
  flex: 1;
  margin-left: 32px;
  @media (--phone) {
    margin: 0;
  }
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 240px;
  height: 240px;
  @media (--phone) {
    width: 160px;
    height: 160px;
  }
}

.paragraph {
  margin-bottom: 1em;
}

.social {
  margin: 8px 0;
  > a {
    display: inline-flex;
    padding: 8px;
  }
}
