.header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  :global .dark-theme :local & {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

    /* background: #252627; */
  }

  a {
    text-decoration: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;

  & img {
    height: 44px;
  }
}

.mark {
  margin-right: 5px;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #fe5186;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.text,
.mark {
  font-size: 18px;
}

.right {
  display: flex;
  position: relative;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
