.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 64px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.mark {
  margin-right: 4px;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 1rem;
  background: var(--primary-color);
  margin-left: 4px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.text,
.mark {
  font-size: 18px;
}

.right {
  display: flex;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
