.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.button {
  background: var(--light-background-secondary);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
  padding: 8px 16px;

  :global .dark-theme :local & {
    background: var(--dark-background-secondary);
  }

  + .button {
    margin-left: 16px;
  }

  a {
    display: flex;
    text-decoration: none;
    align-items: center;
  }
}

.iconNext {
  margin-left: 8px;
}

.iconPrev {
  margin-right: 8px;
}
