.postPreview {
  overflow: hidden;
  transition: transform 200ms !important;

  &:hover,
  &:focus {
    transform: scale(1.0325);
  }
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
}

.backgroundImage {
  height: 216px;
}
