.postPreview {
  overflow: hidden;
  transition: transform 200ms !important;

  &:hover,
  &:focus {
    transform: scale(1.0325);
  }
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.backgroundImage {
  width: 100%;
  padding-top: 50%; /* Aspect ratio */
}
