:root {
  --primary-color: #ff79c6;

  /* light theme color */
  --light-background: #fafafa;
  --light-background-secondary: #eaeaea;
  --light-background-paper: #ffffff;
  --light-color: rgba(0, 0, 0, 0.87);
  --light-color-secondary: rgba(0, 0, 0, 0.54);
  --light-border-color: rgba(0, 0, 0, 0.12);

  /* dark theme colors */
  --dark-background: #212121;
  --dark-background-secondary: #3b3d42;
  --dark-background-paper: #424242;
  --dark-color: rgba(255, 255, 255, 0.87);
  --dark-color-secondary: rgba(255, 255, 255, 0.54);
  --dark-border-color: #rgba(255, 255, 255, 0.12);

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 600);
  --tabletWidth: (max-width: 960px);
}

@custom-media --phone (width < 600px);
@custom-media --tablet (width < 960px);
