.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto 32px;
  max-width: 960px;
}

.avatarWrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.content {
  flex: 1;
  margin-left: 32px;
}

.avatar {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 240px;
  height: 240px;
}

.paragraph {
  margin-bottom: 1em;
}

.social {
  margin: 4px 0;
}

@media (max-width: 600px) {
  .avatarWrapper,
  .content {
    flex-basis: 100%;
  }
  .content {
    margin: 0;
  }
  .avatar {
    width: 160px;
    height: 160px;
  }
}
