:root {
  --color-white: white;
  --color-black: black;

  --color-gray-50: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #eaeaea;
  --color-gray-300: #999;
  --color-gray-400: #888;
  --color-gray-500: #666;
  --color-gray-600: #444;
  --color-gray-700: #333;
  --color-gray-800: #111;
  --color-gray-900: #000;
}

.dark {
  --color-white: black;
  --color-black: white;

  --color-gray-50: #000;
  --color-gray-100: #111;
  --color-gray-200: #333;
  --color-gray-300: #444;
  --color-gray-400: #666;
  --color-gray-500: #888;
  --color-gray-600: #999;
  --color-gray-700: #eaeaea;
  --color-gray-800: #fafafa;
  --color-gray-900: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex items-center px-4 py-2 border border-black text-base font-medium rounded-md text-white bg-black hover:text-black hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors;
  }

  .btn-secondary {
    @apply inline-flex items-center px-4 py-2 border border-gray-300 hover:border-black text-base font-medium rounded-md text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors;
  }
}

::selection {
  background-color: #79ffe1;
  color: black;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  @apply text-gray-700;
}

.token.comment {
  @apply text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-600 dark:text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-600 dark:text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-600 dark:text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-600 dark:text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-600 dark:text-pink-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose pre {
  @apply -mx-6 rounded-none sm:mx-0 sm:rounded-md bg-gray-100 border border-gray-200;
}

.prose code {
  @apply font-normal;
}
