:root {
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-gray-50: 255, 255, 255; /* #ffffff */
  --color-gray-100: 250, 250, 250; /* #fafafa */
  --color-gray-200: 234, 234, 234; /* #eaeaea */
  --color-gray-300: 153, 153, 153; /* #999999 */
  --color-gray-400: 136, 136, 136; /* #888888 */
  --color-gray-500: 102, 102, 102; /* #666666 */
  --color-gray-600: 68, 68, 68; /* #444444 */
  --color-gray-700: 51, 51, 51; /* #333333 */
  --color-gray-800: 17, 17, 17; /* #111111 */
  --color-gray-900: 0, 0, 0; /* #000000 */
}

.dark {
  --color-white: 0, 0, 0;
  --color-black: 255, 255, 255;

  --color-gray-50: 0, 0, 0; /* #000000 */
  --color-gray-100: 17, 17, 17; /* #111111 */
  --color-gray-200: 51, 51, 51; /* #333333 */
  --color-gray-300: 68, 68, 68; /* #444444 */
  --color-gray-400: 102, 102, 102; /* #666666 */
  --color-gray-500: 136, 136, 136; /* #888888 */
  --color-gray-600: 153, 153, 153; /* #999999 */
  --color-gray-700: 234, 234, 234; /* #eaeaea */
  --color-gray-800: 250, 250, 250; /* #fafafa */
  --color-gray-900: 255, 255, 255; /* #ffffff */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex items-center px-4 py-2 border border-black text-base font-medium rounded-md text-white bg-black hover:text-black hover:bg-white focus:text-black focus:bg-white focus:outline-none transition-colors;
  }

  .btn-secondary {
    @apply inline-flex items-center px-4 py-2 border border-gray-300 text-base text-gray-600 hover:text-black hover:border-black focus:text-black focus:border-black font-medium rounded-md bg-white focus:outline-none transition-colors;
  }
}

::selection {
  background-color: #79ffe1;
  color: black;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  @apply text-gray-700;
}

.token.comment {
  @apply text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-600 dark:text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-600 dark:text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-600 dark:text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-600 dark:text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-600 dark:text-pink-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose pre {
  @apply -mx-6 rounded-none sm:mx-0 sm:rounded-md bg-gray-100 border border-gray-200;
}

.prose code {
  @apply font-normal;
}
