.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 64px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: inherit;
}

.svg {
  margin-right: 6px;
}
