.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.button {
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  padding: 8px 16px;

  /* + .button {
    margin-left: 16px;
  } */
}

.iconNext {
  margin-left: 8px;
}

.iconPrev {
  margin-right: 8px;
}
