.coverImage {
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.actions {
  margin: 32px 0;
}

.actions button:not(:last-child) {
  margin-right: 8px;
}

.author {
  display: flex;
  align-items: center;
  margin: 32px 0;
}

.avatarWrapper {
  margin-right: 12px;
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
}
