.postPreview {
  overflow: hidden;
  transition: transform 200ms !important;
}

.postPreview:hover,
.postPreview:focus {
  transform: scale(1.0325);
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 50%;
}
